<template>
    <div id="home">
        <h1>You are logged in</h1>
        <van-button @click="logout" type="default">logout</van-button>
    </div>
</template>

<script>
    import {auth} from "../firebase";
    import {Toast} from 'vant'
    export default {
        name: "Login",
        methods:{
            logout(){
                let self = this;
                auth.signOut().then(()=>{
                    Toast.success('Logged out!');
                    self.$router.push({path:'/login'});
                })
            }
        }
    }
</script>

<style scoped>
</style>