<template>
    <div id="login">
        <h1>Login</h1>
    <van-cell-group>
        <van-field
                v-model="email"
                required
                clearable
                label="Email"
                icon="question"
                placeholder="email"
                @click-icon="$toast('Question')"
                :error="isError ? true : false"
        />

        <van-field
                v-model="password"
                type="password"
                label="Password"
                placeholder="password"
                :error="isError ? true : false"
                required
        />
    </van-cell-group>
        <br>
        <a href="#" @click="forgetPass"><small>Forget Password?</small></a>
        <div class="space"></div>
        <van-button @click="goLogin" size="large" type="danger">Login</van-button>
        <br>
        <router-link to="/register">Register?</router-link>
    </div>
</template>

<script>
    import {auth} from './../firebase'
    import {Toast} from 'vant'
    export default {
        name: "Login",
        data(){
            return{
                isError:false,
                email:'',
                password:'',
            }
        },
        methods:{
            goLogin(){
                let self = this;
                if(!self.email || !self.password){
                    self.isError = true;
                    Toast.fail({
                        duration: 3000,
                        message:'Do not leave blank!'
                    });
                    return;
                }
                auth.signInWithEmailAndPassword(self.email, self.password).then(() =>{
                    Toast.success('Logged In!');
                    self.$router.push({path:'/home'});
                }).catch((error)=>{
                    Toast.fail(''+error.message);
                })
            },
            forgetPass(){
                Toast.fail('Please contact!')
            }
        }
    }
</script>

<style scoped>
    #login{
        text-align: center;
        padding-top:60px;
    }
</style>