<template>
    <div id="register">
        <h1>Register</h1>
    <van-cell-group>
        <van-field
                v-model="email"
                required
                clearable
                label="Email"
                icon="question"
                placeholder="email"
                @click-icon="$toast('Question')"
                :error="isEmail ? true : false"
        />

        <van-field
                v-model="password"
                type="password"
                label="Password"
                placeholder="password"
                required
                :error="isError ? true : false"
        />
        <van-field
                v-model="cPassword"
                type="password"
                label="Re-Type"
                placeholder="password"
                required
                :error="isError ? true : false"
        />
    </van-cell-group>
        <br>
        <a href="#" @click="forgetPass"><small>Forget password?</small></a>
        <div class="space"></div>
        <van-button @click="goLogin" size="large" type="danger">Register</van-button>
        <br>
        <router-link to="/login">Login?</router-link>
    </div>
</template>

<script>
    import {auth} from './../firebase'
    import {Toast} from 'vant'
    export default {
        name: "Register",
        data(){
            return{
                isError: false,
                isEmail: false,
                email:'',
                password:'',
                cPassword:''
            }
        },
        methods:{
            goLogin(){
                let self = this;
                if(!self.email || !self.password || !self.cPassword){
                    this.isError = true;
                    this.isEmail = true;
                    Toast.fail('Do not leave blank');
                    return;
                }
                if(self.password !== self.cPassword){
                    this.isError = true;
                    Toast.fail('Password do not match!');
                    return;
                }
                auth.createUserWithEmailAndPassword(self.email, self.password)
                    .then(() =>{
                    Toast.success('Registered, now you can log in!');
                    self.$router.push({path:'/login'});
                }).catch((error)=>{
                    if(error.code === 'auth/invalid-email' || error.code === 'auth/email-already-in-use'){
                        self.isEmail = true;
                    }
                    Toast.fail(''+error.message);
                })
            },
            forgetPass(){
                Toast.fail('Contact Admin')
            }
        }
    }
</script>

<style scoped>
    #register{
        text-align: center;
        padding-top:60px;
    }
</style>